{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Proforma Invoice</title>

    <style>

        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #222;
            margin: 25px;
            line-height: 1.4;
        }

       
        

        /* ================= TABLE ================= */
        table.clean-table th,
table.clean-table td {
    border: none;
}

        th {
            background: #f2f2f2;
        }

        .text-right { text-align: right; }
        .text-center { text-align: center; }
        .bold { font-weight: bold; }

        /* ================= FOOTER ================= */
        .footer {
            margin-top: 25px;
            border-top: 1px solid #000;
            padding-top: 10px;
            font-size: 10px;
        }
        

 

    </style>
</head>

<body>
    <div style=" font-size:14px; font-weight:700; margin-top:4px; color:#4c10d8;">
        Efficiency & Timely Delivery
    </div>

    <!-- ================= LOGOS (OUTSIDE BOX) ================= -->
<div style="
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    width:100%;
">

    <!-- ================= LOGOS (TABLE VERSION - PDF SAFE) ================= -->
<table style="width:100%; border-collapse:collapse; margin-bottom:10px;">
    <tr>

        <!-- LEFT -->
        <td style="width:33%; text-align:left; border:none;">
        </td>

        <!-- CENTER LOGO (BIG) -->
        <td style="width:34%; text-align:center; border:none;">
            <img src="{{ logo_url }}"
                 style="height:130px; width:auto; object-fit:contain;">
        </td>

        <!-- RIGHT LOGO -->
        <td style="width:33%; text-align:right; border:none;">
            <img src="{{ logo_urls }}"
                 style="height:130px; width:auto; object-fit:contain;">
            
        </td>

    </tr>
</table>

</div>
<div style="
    font-family:'Times New Roman', serif;
    color:#111;
    padding:12px;
    margin-bottom:12px;
    font-style:italic;
">

    <!-- TITLE -->
    <div style="
        text-align:center;
        font-size:22px;
        font-weight:900;
        color:#000;
        letter-spacing:1px;
        text-transform:uppercase;
        margin-bottom:2px;
        line-height:1.1;
    ">
        CIVIL & BUILDING CONTRACTOR <br>
        EXPERTS FENESTRATION ENGINEERING TECHNOLOGY
    </div>

    <!-- DESCRIPTION -->
    <div style="
        font-size:14px;
        line-height:1.2;
        text-align:justify;
        text-align-last:center;
        max-width:900px;
        margin:0 auto 6px auto;
        padding:0 8px;
    ">
        Pi dealers: supply & fix: aluminium, upvc & frameless glass works, balustrades, sensor windows & doors,
        kitchen & wardrobe cabinets, skylight structure, steel structure, pergola structure, prefabricated containers,
        welding, swimming pool, skimming/paint, electric fences, CCTV camera, elevator works, carpentry & roofing works.<b>We are Conviniently Located @:</b>
        HQ: Mwenge Cocacola Road | Branch Office Mbezi Beach Jogoo Opp Interchick | Tegeta Azania | Zanzibar |
        <br>
        P.O.Box 14491 Dar Es Salaam, Tanzania |
        <span style="color:#d49012;">
            Email: info@princeinternational.co.tz | Web: www.princeinternational.co.tz |
        </span>
        Tel: +255 712 328 862
    </div>

    

</div>
<hr>



<!-- ================= INVOICE TITLE + META ================= -->
<!-- ================= INVOICE HEADER ================= -->
<div style="font-family:'Times New Roman', serif; margin:0 0 3px 0;">

    <!-- TITLE -->
    <div style="
        text-align:center;
        font-size:30px;
        font-weight:900;
        color:rgb(3, 126, 3);
        letter-spacing:3px;
        margin-bottom:6px;
        line-height:1.1;
    ">
        INVOICE
    </div>

    <!-- TOP 3 COLUMNS -->
    <table style="width:100%; border-collapse:collapse; border:none;">

        <tr>

            <td style="
                width:33%;
                text-align:left;
                vertical-align:top;
                font-size:16px;
                font-weight:900;
                border:none;
                line-height:1.2;
                color: rgb(3, 126, 3);
            ">
                {{ quotation.quotation_no }}
            </td>

            <td style="
                width:34%;
                text-align:center;
                vertical-align:top;
                font-size:16px;
                font-weight:900;
                border:none;
                line-height:1.2;
                color: rgb(3, 126, 3);
            ">
                TIN NO: 119-708-125
            </td>

            <td style="
                width:33%;
                text-align:right;
                vertical-align:top;
                font-size:16px;
                font-weight:900;
                border:none;
                line-height:1.2;
            ">
                {{ quotation.quotation_date }}<br>
                TIME: {{ quotation.created_at|date:"H:i" }} EST
            </td>

        </tr>
    </table>

</div>




<!-- ================= DETAILS SECTION ================= -->
<table style="
    width:100%;
    border-collapse:collapse;
    font-family:'Times New Roman', serif;
    border:none;
">

    <tr>

        <!-- LEFT -->
        <td style="
            width:50%;
            vertical-align:top;
            padding:0;
            border:none;
        ">

            <div style="
                font-size:16px;
                font-weight:900;
                color:rgb(3, 126, 3);
                margin:0 0 4px 0;
                line-height:1.4;
            ">
                CUSTOMER DETAILS
            </div>

            <div style="
                font-size:15px;
                font-weight:700;
                margin:0 0 2px 0;
                line-height:1.4;
            ">
                FULL NAME: {{ quotation.customer.full_name|upper }}
            </div>

            <div style="
                font-size:15px;
                margin:0 0 2px 0;
                line-height:1.4;
            ">
                PROJECT LOCATION: {{ quotation.project_location|upper }}
            </div>

            <div style="
                font-size:15px;
                margin:0;
                line-height:1.4;
            ">
                PHONE NUMBER: {{ quotation.customer.phone|default:"N/A"|upper }}
            </div>

        </td>

        <!-- RIGHT -->
        <td style="
            width:50%;
            vertical-align:top;
            text-align:right;
            padding:0;
            border:none;
        ">

            <div style="
                font-size:16px;
                font-weight:900;
                color:rgb(3, 126, 3);
                margin:0 0 4px 0;
                line-height:1.2;
            ">
                &nbsp;
            </div>

            <div style="
                font-size:15px;
                font-weight:700;
                margin:0 0 2px 0;
                line-height:1.2;
            ">
                &nbsp;
            </div>

            <div style="
                font-size:15px;
                margin:0 0 2px 0;
                line-height:1.2;
            ">
                &nbsp;
            </div>

            <div style="
                font-size:15px;
                margin:0;
                line-height:1.2;
            ">
                &nbsp;
            </div>

        </td>

    </tr>

</table>

<hr>



<!-- ================= PROFORMA ACCEPTANCE ================= -->
<div style="
    font-family:'Times New Roman', serif;
    font-size:18px;
    font-weight:700;
    text-transform: lowercase;
    max-width:900px;
    line-height:0.8;
    margin:0;
    padding:0;
">
    Please accept our invoice as follows
</div>

<!-- ================= SECTION I: PURPOSE ================= -->
<div style="
    font-family:'Times New Roman', serif;
    font-size:16px;
    line-height:1.3;
    margin:6px 0 4px 0;
    max-width:900px;
    font-weight:700;
    text-align:center;
">

   <!-- ================= SECTION I: PURPOSE ================= -->
<div style="
    font-family:'Times New Roman', serif;
    font-size:16px;
    line-height:1.1;
    margin:6px 0 4px 0;
    max-width:900px;
    font-weight:700;
    text-align:center;
">

    <span style="text-decoration:underline;">
        SECTION I: PURPOSE
    </span>

    <br>

    PROFORMA INVOICE FOR

    <span style="font-weight:900; font-size:16px;">
    {{ products_list|upper }}
</span>

    

    INCLUDING TRANSPORTATION, INSTALLATION, COMMISSIONING AND RELATED SERVICES FOR USE ONLY.

</div>

<div style="margin:2px 0;">
    <div style="border-top:1px solid #000;"></div>
</div>

</div>

<div style="margin:2px 0;">
    <div style="border-top:1px solid #000;"></div>
</div>

<!-- ================= ITEMS ================= -->
<!-- ================= ITEMS + BOQ SUMMARY IN ONE TABLE ================= -->


<table style="
    width:100%;
    border-collapse:collapse;
    font-family:Arial,sans-serif;
    font-size:13px;
    table-layout:fixed;
">

    <!-- ================= HEADER ================= -->

    <thead>

    <!-- MAIN HEADER -->
<tr style="background:#e5e5e5;">

<thead>

<tr style="background:#e5e5e5;">
<!-- CODE -->
<th rowspan="2" style="
    border:1px solid #000;
    width:5%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    S/NO
</th>

<th rowspan="2" style="
    border:1px solid #000;
    width:22%;
    padding:1px 2px;
    text-align:left;
    vertical-align:top;
    font-family:'Times New Roman', serif;
    font-size:6px;
    line-height:1;
">

    <!-- TITLE -->
    <div style="
        text-align:center;
        font-weight:bold;
        font-size:11px;
        margin:0;
        padding-top:2px;
        padding-bottom:0;
        line-height:1.0;
    ">
        PI METHODOLOGY OF WORK
    </div>

    <!-- ACTIVITIES -->
    <div style="
        margin:0;
        padding:0;
        line-height:1.0;
        font-size:8px;
    ">
        Activity 1.0: Designs &amp; Materials Selections, Pricing &amp; Signing<br/>
        Activity 2.0: Procurement &amp; Fabrication<br/>
        Activity 3.0: Triple Quality Inspection<br/>
        Activity 4.0: Packaging &amp; Transportation<br/>
        Activity 5.0: Installation &amp; Delivering<br/>
        Activity 6.0: Commissioning Product/S<br/>
        Activity 7.0: Signing Off Delivery Note &amp; Handing Over The Site
    </div>

</th>

<!-- TYPE -->
<th colspan="2" style="
    border:1px solid #000;
    width:15%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    TYPE
</th>

<!-- SIZE -->
<th colspan="2" style="
    border:1px solid #000;
    width:12%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    SIZE (MM)
</th>

<!-- QTY -->
<th rowspan="2" style="
    border:1px solid #000;
    width:5%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    QTY
</th>

<!-- SQM -->
<th rowspan="2" style="
    border:1px solid #000;
    width:6%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    m²
</th>

<!-- TOTAL SQM -->
<th rowspan="2" style="
    border:1px solid #000;
    width:8%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Total m²
</th>

<!-- UNIT PRICE -->
<th rowspan="2" style="
    border:1px solid #000;
    width:10%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Unit Price<br>(TZS)
</th>

<!-- TOTAL PRICE -->
<th rowspan="2" style="
    border:1px solid #000;
    width:12%;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Total Price<br>(TZS)
</th>

</tr>

<tr style="background:#f2f2f2;">


<th style="
    border:1px solid #000;
    padding:2px;
    text-align:center;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Profile
</th>

<th style="
    border:1px solid #000;
    padding:2px;
    text-align:center;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Glass
</th>

<th style="
    border:1px solid #000;
    padding:2px;
    text-align:center;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Width
</th>

<th style="
    border:1px solid #000;
    padding:2px;
    text-align:center;
    font-family:'Times New Roman',serif;
    font-size:12px;
    font-weight: bold;
">
    Height
</th>


</tr>

</thead>


</thead>

    <tbody>

    <!-- ================= ITEMS ================= -->

    {% for group in grouped_data %}

        {% for item in group.items %}

        <tr>

            <td style="border:1px solid #000; padding:4px; word-wrap:break-word; text-align: center;">
                {{ item.item_code }}
            </td>

            <td style="border:1px solid #000; padding:4px; word-wrap:break-word;">
                {{ item.product.name }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.aluminium_profile|default:"-" }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.glass|default:"-" }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.width|floatformat:0 }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.height|floatformat:0 }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.quantity }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.sqm|floatformat:2 }}
            </td>

            <td style="border:1px solid #000; padding:4px; text-align:center;">
                {{ item.total_sqm|floatformat:2 }}
            </td>

            <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
                {{ item.unit_price|floatformat:0|intcomma }}
            </td>

             <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ item.total_price|floatformat:0|intcomma }}
        </td>
        </tr>

        {% endfor %}

        <!-- ================= PRODUCT SUBTOTAL ================= -->

        <tr style="background:rgb(3, 126, 3); font-weight:bold; color: white;">

            <td colspan="6"
                style="border:1px solid #000; padding:5px; text-align:right;">
                SUBTOTAL COST FOR {{ group.product_name|upper }}
            </td>

            <td style="border:1px solid #000; padding:5px; text-align:center;">
                {{ group.subtotal_qty }}
            </td>

            <td style="border:1px solid #000; padding:5px; text-align:center;">
                {{ group.subtotal_sqm|floatformat:2 }}
            </td>

            <td style="border:1px solid #000; padding:5px; text-align:center;">
                {{ group.subtotal_total_sqm|floatformat:2 }}
            </td>

            <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
                {{ group.subtotal_unit_price|floatformat:0|intcomma }}
            </td>

            <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
                {{ group.subtotal_total_price|floatformat:0|intcomma }}
            </td>
 
        </tr>

    {% endfor %}

    <!-- ================= BOQ SUMMARY ================= -->

    <tr style="background:#d49012; color:#fff; font-weight:bold;">

        <td colspan="11"
            style="border:1px solid #000; padding:6px; text-align:center; font-size:10px;">
            BOQ SUMMARY
        </td>

    </tr>

    {% for row in summary_rows %}

    <tr>

        <td colspan="6"
            style="border:1px solid #000; padding:5px; font-weight:bold;">
            {{ row.label }}
        </td>

        <td style="border:1px solid #000; padding:5px; text-align:center;">
            {{ row.qty }}
        </td>

        <td style="border:1px solid #000; padding:5px; text-align:center;">
            {{ row.sqm|floatformat:2 }}
        </td>

        <td style="border:1px solid #000; padding:5px; text-align:center;">
            {{ row.total_sqm|floatformat:2 }}
        </td>

        <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ row.unit_price|floatformat:0|intcomma }}
        </td>

        <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ row.value|floatformat:0|intcomma }}
        </td>

    </tr>

    {% endfor %}

    <!-- ================= GRAND SUBTOTAL ================= -->

    <tr style="background:rgb(5, 114, 5); font-weight:bold; color: white;">

        <td colspan="6"
            style="border:1px solid #000; padding:6px; text-align:right;">
            SUBTOTAL
        </td>

        <td style="border:1px solid #000; padding:6px; text-align:center;">
            {{ total_qty }}
        </td>

        <td style="border:1px solid #000; padding:6px; text-align:center;">
            {{ total_sqm|floatformat:2 }}
        </td>

        <td style="border:1px solid #000; padding:6px; text-align:center;">
            {{ total_total_sqm|floatformat:2 }}
        </td>

        <td style="
    
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ total_unit_price|floatformat:0|intcomma }}
        </td>

        <td style="
    
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ total_subtotal|floatformat:0|intcomma }}
        </td>

    </tr>

    <!-- ================= DISCOUNT ================= -->

    <tr>

        <td colspan="10"
            style=" padding:6px; text-align:right; font-weight:bold;">
            DISCOUNT
        </td>

       <td style="
    
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ quotation.discount_amount|floatformat:0|intcomma }}
        </td>

    </tr>

    <!-- ================= VAT ================= -->

    <tr>

        <td colspan="10"
            style="border:1px solid #000; padding:6px; text-align:center; font-weight:bold;">
            VAT ({{ quotation.vat_percentage }}%)
        </td>

        <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ vat_amount|floatformat:0|intcomma }}
        </td>

    </tr>

    <!-- ================= GRAND TOTAL ================= -->

    <tr style="background:#d49012; color:#fff; font-weight:bold;">

        <td colspan="10"
            style=" padding:8px; text-align:right;">
            FINAL GRAND TOTAL
        </td>

        <td style="
    border:1px solid #000;
    padding:4px;
    text-align:center;
    white-space:nowrap;
    font-size:13px;
    overflow:hidden;
">
            {{ grand_total|floatformat:0|intcomma }} TZS
        </td>

    </tr>

    </tbody>

</table>


<div style="
    background:#d49012;
    color:#ffffff;
    padding:20px 25px;
    margin-top:12px;
    font-family:'Times New Roman', Times, serif;
    font-size:13px;
    line-height:1.9;
">

<span style="
    color:white;
    font-size:18px;
    font-weight:bold;
    letter-spacing:1px;
    text-transform:uppercase;
">
    TERMS & CONDITIONS
</span>

<br><br>

1. Advance Payment 50% on confirmation.<br>

2. Interim Payment 40% before material delivery.<br>

3. Final Payment 10% after delivery.<br>

4. Or Pay 80% for Fast Track Implementation and Delivery.<br>

5. Execution Duration: 14 Working Days.<br>

6. China Special Order Payment Mode: 80% Advance, Final 20%.<br>

7. China Special Order Delivery within 3 to 4 months after advance payment.<br>

8. All prices are VAT Exclusive.<br>

9. By signing and/or expressly confirming your acceptance of this quotation via email, purchase order, or commencement of payment, you irrevocably and unconditionally accept, agree and acknowledge that you have read and understood our Standard Terms & Conditions attached to this quotation and/or email correspondence. These terms shall apply in full. You may also access them through our website: <strong>www.princeinternational.co.tz</strong>.

<br><br>

<strong style="color:white">
    PAY VIA:
</strong>

TSHS Prince International: <strong>0150028745</strong> (Exim Bank) &nbsp;&nbsp;|&nbsp;&nbsp;
USD Prince International: <strong>0150028744</strong> (Exim Bank)


</div>







</body>
</html>